osu.Game.Rulesets.Hitokori.csproj.user
bin\
obj\
bin/Release/netstandard2.1/osu.Game.xml
bin/Release/netstandard2.1/osu.Game.Rulesets.Hitokori.pdb
bin/Release/netstandard2.1/osu.Game.Rulesets.Hitokori.dll
bin/Release/netstandard2.1/osu.Game.Rulesets.Hitokori.deps.json
bin/Release/netstandard2.1/osu.Game.pdb
bin/Release/netstandard2.1/osu.Game.dll
.vs/osu.Game.Rulesets.Hitokori/v16/.suo
.vs/osu.Game.Rulesets.Hitokori/DesignTimeBuild/.dtbcache.v2
obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
obj/Debug/netstandard2.1/osu.Game.Rulesets.Hitokori.AssemblyInfo.cs
obj/Debug/netstandard2.1/osu.Game.Rulesets.Hitokori.AssemblyInfoInputs.cache
obj/Debug/netstandard2.1/osu.Game.Rulesets.Hitokori.assets.cache
obj/Debug/netstandard2.1/osu.Game.Rulesets.Hitokori.csprojAssemblyReference.cache
obj/osu.Game.Rulesets.Hitokori.csproj.nuget.dgspec.json
obj/osu.Game.Rulesets.Hitokori.csproj.nuget.g.props
obj/osu.Game.Rulesets.Hitokori.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Release/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
obj/Release/netstandard2.1/osu.Game.Rulesets.Hitokori.AssemblyInfo.cs
obj/Release/netstandard2.1/osu.Game.Rulesets.Hitokori.AssemblyInfoInputs.cache
obj/Release/netstandard2.1/osu.Game.Rulesets.Hitokori.assets.cache
obj/Release/netstandard2.1/osu.Game.Rulesets.Hitokori.csproj.CopyComplete
obj/Release/netstandard2.1/osu.Game.Rulesets.Hitokori.csproj.CoreCompileInputs.cache
obj/Release/netstandard2.1/osu.Game.Rulesets.Hitokori.csproj.FileListAbsolute.txt
obj/Release/netstandard2.1/osu.Game.Rulesets.Hitokori.csprojAssemblyReference.cache
obj/Release/netstandard2.1/osu.Game.Rulesets.Hitokori.dll
obj/Release/netstandard2.1/osu.Game.Rulesets.Hitokori.pdb
bin/Release/netstandard2.1/Resources/hitokori-BotRight.png
bin/Release/netstandard2.1/Resources/hitokori-BotNeutral.png
bin/Release/netstandard2.1/Resources/hitokori-BotLeft.png
bin/Release/netstandard2.1/Resources/hitokori-BotHold.png
